a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 75%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-left: 10%;
}

.equip_list {
    display: grid;
    grid-template-rows: 0.5fr 1.5fr 0.5fr 4fr 4fr;
    margin: 30px 0;
}


.equip-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-head {
    background: whitesmoke;
    height: 30px;
    margin: 30px 0px;
    display: flex;
    /*padding: 10px;*/
}

.list-head .add {
    background: lightskyblue;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: medium;
    margin-left: 50px;
}

.equip {
    margin: 0;
    padding: 0;
}

.equip > li {
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.equip .item {
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
    grid-gap: 0;
}

.detail {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}

.list-param {
    font-size: small;
}

form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
}

form.example button {
    background: #2196F3;
    color: white;
    font-size: 17px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#contact-form input{
    margin: 20px 40px;
    height: 25px;
    width: 100%;
}

/*模态框*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 根据浏览器定位 */
    z-index: 1; /* 放在顶部 */
    left: 0;
    top: 0;
    width: 60%; /* 全宽 */
    height: 100%; /* 全高 */
    /*overflow: auto; !* 允许滚动 *!*/
    margin-left: 20%;
}
/*模态框内容*/
.modal-content {
    display: flex; /*采用flexbox布局*/
    flex-direction: column; /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    margin: 10px auto; /*距顶部15% 水平居中*/
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
}
@keyframes topDown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/*模态框头部*/
.modal-header {
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*水平布局*/
    align-items: center; /*内容垂直居中*/
    justify-content: space-between;
}
/*关闭X 样式*/
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeBtn:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
